:root {
  /* Mute (black/navy) */
  --mute-darker: #15151b;
  --mute-dark: #1b1c22;
  --mute: #292a31;
  --mute-light: #2f3139;
  --mute-lighter: #404249;

  /* Accent (blue) */
  --accent-light: #177aea;
  --accent: #106cd2;

  --accent-alpha1: rgba(23, 123, 235, 0.1);
  --accent-alpha2: rgba(23, 123, 235, 0.2);

  /* Additional colors */
  --color-red: #d2103e;
  --color-red-light: #e01e4c;
  --color-yellow: #e6d411;
  --color-yellow-light: #f6e418;
  --color-green: #10d23d;
  --color-green-light: #13e344;

  /* Text */
  --text-black: #151314;
  --text-red: #c54445;
  --text-grey: #a5a5ac;
  --text-white: #e2e3e8; }

body, html, #app {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  overflow: hidden;

  font-family: sans-serif;

  box-sizing: border-box; }

#app {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    'nav nav'
    'sidebar main'; }

  #app.modal-visible {
    opacity: .4;
    pointer-events: none; }

#central-pane {
  grid-area: main;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--mute-darker); }

#nav {
  grid-area: nav;
  display: flex;
  align-items: stretch;

  background: var(--mute-lighter); }

  #server-dropdown {
    width: 240px;
    margin-right: auto; /* Push rest of nav as far right as possible. */
    display: flex;
    align-items: center;

    cursor: pointer;

    position: relative; }

    #server-dropdown:hover {
      background: rgba(255, 255, 255, 0.1); }

    #server-dropdown.notifications:after {
      display: block;
      content: ' ';

      width: 10px;
      height: 10px;
      position: absolute;
      top: 12px;
      right: 2px;
      border-radius: 999px;
      background: var(--color-red-light);
      border: 1px solid var(--color-red);
    }

    #server-dropdown-current {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: border-box;
      width: 100%;
      margin: 0 12px;
      padding-right: 24px;
      position: relative;

      color: #fff;
      font-size: 22px;
      font-weight: bold; }

      #server-dropdown-current:after {
        display: block;
        content: ' ';

        width: 16px;
        height: 16px;
        flex-shrink: 0;
        background-image: url('./img/down-arrow.svg');
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%); }

    #server-dropdown-options {
      display: none;

      position: absolute;
      bottom: -10px;
      left: 10px;
      transform: translateY(100%);
      min-width: calc(100% - 20px);

      background: #fff;
      border-radius: 4px;
      padding: 8px 0; }

      .server-dropdown-option {
        color: var(--mute);
        font-size: 16px;
        font-weight: normal;
        padding: 8px 16px; }

        .server-dropdown-option:hover {
          background: #eee; }

        .server-dropdown-option .notification-count {
          color: #fff;
          background: var(--color-red-light);
          border: 1px solid var(--color-red);
          border-radius: 2px;
          padding: 2px 4px;
          margin-left: 4px;
          font-size: 12px;
          float: right; }

    #server-dropdown.open #server-dropdown-options {
      display: block; }

#sidebar {
  grid-area: sidebar;

  color: var(--text-grey);
  background: var(--mute);

  padding: 18px 0;
  user-select: none; }

  #sidebar .sidebar-heading {
    padding: 8px 18px;
    font-size: 120%; }

  #sidebar #channels-list {
    display: block;

    margin: 0;
    padding: 0; }

    #sidebar #channels-list .channel {
      list-style: none;
      cursor: pointer;

      padding: 8px 18px;
      border-left: 2px solid transparent; }

      #sidebar #channels-list .channel:hover {
        background-color: var(--mute-light); }

      #sidebar #channels-list .channel.active {
        color: var(--text-white);
        background: var(--mute-dark);
        border-left-color: var(--accent);}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--text-white);
  background: var(--mute-darker);

  padding: 24px 36px;
  width: 300px;
  box-shadow: 0 1px 4px black;
  border-radius: 3px; }

  .modal .modal-title {
    margin-top: 0;
    font-size: 24px; }

  .modal .modal-desc {
    color: var(--text-grey); }

  .modal .modal-error {
    margin-bottom: 4px;
    color: var(--text-red); }

  .modal .modal-actions {
    margin-top: 18px;
    padding-top: 18px;
    border-top: 1px solid var(--mute-dark); }

.input {
  margin-top: 4px;
  margin-bottom: 4px;

  color: var(--text-grey);
  background: var(--mute-dark);

  border-radius: 3px;
  padding: 12px 16px;

  font: inherit;
  border: none;
  outline: none; }

  .input.input-bordered {
    border: 1px dotted var(--mute-light); }

  .input:focus {
    background: var(--mute); }

.btn {
  cursor: pointer;

  color: var(--text-white);
  background: none;

  height: 45px;
  line-height: 45px;

  font-size: 15px;
  border-radius: 3px;

  padding: 0 18px;
  margin: 4px 6px;

  outline: none;
  border: none;
  text-shadow: none; }

  .btn.btn-visible, .btn.btn-primary {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2); }

  .btn.btn-visible, .btn:hover {
    background: var(--mute); }

  .btn.btn-visible:hover {
    background: var(--mute-light); }

  .btn.btn-primary {
    background: var(--accent) }

    .btn.btn-primary:hover{
      background: var(--accent-light); }

#form-container {
  padding: 5px;
  background-color: var(--mute-dark);
  color: var(--text-white); }

  #form-container #form {
    display: inline-block;
    margin: 0; }

  #login-status {
    font-size: 11px;
    color: var(--text-grey); }

#messages {
  color: var(--white);

  overflow-y: auto; }

  .message {
    padding: 10px 16px;
    color: #EEE; }

  .message.created-by-us:hover {
    background-color: var(--mute-light); }

  .message-channelref {
    color: var(--accent);
    background-color: var(--accent-alpha1); /*  */
    padding: 2px;
    margin: -2px;
    border-radius: 2px;

    cursor: pointer; }

    .message-channelref:hover {
      background-color: var(--accent-alpha2); }

  .message-mention {
    color: #cfa041; }

  .message-mention-of-user {
    color: white;
    background-color: #cfa041; }

  .message-inline-code {
    color: white;
    background-color: #232323; }

  .message-author {
    float: left; }

  .message time {
    float: right; }

  .message-author {
    font-weight: bold; }

  .message-content {
    clear: both;
    display: block; }

    .message-format-b {
      font-weight: bold; }

    .message-format-i {
      font-style: italic; }

    .message-format-u {
      text-decoration: underline; }

    .message-format-s {
      text-decoration: line-through; }

    .message-content a {
      color: var(--accent); }

a {
  color: #E080FF;
  text-decoration: none; }

time {
  opacity: 0.5; }
